<p id="notice"><%= notice %></p>


<p>
  <b>Content:</b>
  <%= @comment. content %>
</p>

<p>
  <b>Is show public:</b>
  <%= @comment.is_show_public %>
</p>

<p>
  <b>User:</b>
  <%= @comment.user %>
</p>

<p>
  <b>News:</b>
  <%= @comment.news %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
