<div>
  <h4>未读</h4>
  <% @un_reads.each do |notify| %>
      <%= link_to notify.user.name,notify.user %> &nbsp;&nbsp;&nbsp;
      <%= notify.content %>
      <%= link_to notify.news.title,notify.news %>
      <br>
  <% end %>
  <h4>已读</h4>

  <% @reads.each do |notify| %>
      <%= link_to notify.user.name,notify.user %> &nbsp;&nbsp;&nbsp;
      <%= notify.content %>
      <%= link_to notify.news.title,notify.news %>
      <br>
  <% end %>

</div>