<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label '帐号' %>
      <br/>
      <% if @user.id == session[:user].id %>
          <%= f.text_field :name %>
      <% else %>
          <%= f.label @user.name  %>
      <% end %>
    </div>
    <% if @user.id == session[:user].id %>
        <div class="field">
          <%= f.label '密码' %>
          <br/>
          <%= f.text_field :pwd %>
        </div>
    <% end %>
    <% if  session[:user].rank ==1 %>
        <div class="field">
          <%= f.label '级别' %>
          <br/>
          <%= f.number_field :rank %>
        </div>

        <div class="field">
          <%= f.label '所属栏目组' %>
          <br/>
          <%= f.number_field :item_id %>
        </div>
    <% end %>
    <div class="actions">
      <%= f.submit '更新' %>
    </div>
<% end %>
