<h2>用户列表</h2>

<table>
  <tr>
    <th>帐号</th>
    <th>密码</th>
    <th>等级</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <% if user.id == session[:user].id %>
    <td><%= user.pwd %></td>
        <% else %>
        <td>***</td>
        <% end  %>
    <td><%= user.rank %></td>
    <td><%= link_to '编辑', edit_user_path(user) %></td>
    <td><%= link_to '详情', user %></td>
    <td><%= link_to '删除', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<% if session[:user].rank==1 %>
<%= link_to '添加用户', new_user_path %>
<% end %>